.title {
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.recipe {
    font-family: cursive;
    color: brown;
    font-size: 30px;
}

.recipes {
    padding: 20px;
    margin: 24px 8px;
}

.pizza {
    margin-bottom: 20px;
}

.beans {
    margin-bottom: 20px;
    margin-left: 40px;
}

.chicken {
    margin-left: 80px;
    margin-top: 20px;
}

.pizza-recipe {
    background-color: lightcoral; 
}

.beans-recipe {
    background-color: lightsalmon;
}

.chicken-recipe {
    background-color: lightseagreen;
}

h2 {
    text-align: center;
    font-family: cursive;
}

h4 {
    font-family: cursive;
}

li {
    font-family: cursive;
}

.index-body {
    background-color: lightskyblue;
}

.back {
    font-size: 30px;
    font-family: cursive;
}